---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
import { Tabs, TabsList, TabsTab, TabsPanel } from 'accessible-astro-components'

const  penguinsAdelie = penguins.filter(({species})=>species==="Adelie")
const  penguinsChinstrap = penguins.filter(({species})=>species==="Chinstrap")
const  penguinsGentoo = penguins.filter(({species})=>species==="Gentoo")

---

<Layout>

<div class="bg-gray-400 text-black p-4 rounded-1xl shadow-lg">
  <h1 class="text-xl font-bold mb-3">MENU</h1>
  <nav class="flex gap-4">
    
      <select id="species">
    <option value="Adelie">Adelie</option>
    <option value="Chinstrap">Chinstrap</option>
    <option value="Gentoo">Gentoo</option>
    </select>
    <script>
        document.querySelector("#species")?.addEventListener("change", (evt) => {
        const value = (evt.target as HTMLSelectElement).value;
        location.pathname = "/species/" + value;
        });
    </script>

    <a href="test-iframe" 
       class="px-3 py-2 rounded-lg hover:bg-gray-700 transition">
      Etape 2 (iframe)
    </a>
  </nav>
</div>


  <h1 class="text-5xl text-center mb-8">Penguins species (Etape 3)</h1>

  <nav>
    <ul class="flex gap-2">
      <li><a class="border-2 border-blue-600 p-2"
      href="#Adelie">Adelie</a>
      </li>
      <li><a class="border-2 border-blue-600 p-2"
      href="#Chinstrap">Chinstrap</a></li>
      <li><a class="border-2 border-blue-600 p-2"
      href="#Gentoo">Gentoo</a></li>
    </ul>
  </nav>

  <div class="flex gap-2 overflow-x-auto scroll-smooth">
    <div class="min-w-full" id="Adelie">
      <h3 class="text-3xl"></h3>
      <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsAdelie, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
    </div>
    <div class="min-w-full"id="Chinstrap">
      <h3 class="text-3xl"></h3>
      <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsChinstrap, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
    </div>
    <div class="min-w-full"id="Gentoo">
      <h3 class="text-3xl"></h3>
      <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsGentoo, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
    </div>
  </div>

  <Tabs>
  <TabsList>
    <TabsTab id="Adelie" controls="panel1" selected>Adelie</TabsTab>
    <TabsTab id="Chinstrap" controls="panel2">Chinstrap</TabsTab>
    <TabsTab id="Gentoo" controls="panel3">Gentoo</TabsTab>
  </TabsList>

  <TabsPanel id="panel1" labelledby="tab1" selected>
    <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsAdelie, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
  </TabsPanel>
  <TabsPanel id="panel2" labelledby="tab2">
    <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsChinstrap, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
  </TabsPanel>
  <TabsPanel id="panel3" labelledby="tab3">
    <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsGentoo, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
  </TabsPanel>
</Tabs>
</Layout>
