---
import PlotFigure from "../../components/PlotFigure.astro";
import Layout from "../../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";

const  penguinsAdelie = penguins.filter(({species})=>species==="Adelie")

---

<Layout>
    <div class="bg-gray-800 text-white p-4 rounded-1xl shadow-lg">
  <h1 class="text-xl font-bold mb-3">MENU Étape 1</h1>
  <nav class="flex gap-4">
    <a href="/" 
       class="px-3 py-2 rounded-lg hover:bg-gray-700 transition">
      Retour
    </a>
    <a href="/species/Chinstrap" 
       class="px-3 py-2 rounded-lg hover:bg-gray-700 transition">
      Chinstrap
    </a>
    <a href="/species/Gentoo" 
       class="px-3 py-2 rounded-lg hover:bg-gray-700 transition">
      Gentoo
    </a>
    <a href="test-iframe" 
       class="px-3 py-2 rounded-lg hover:bg-gray-700 transition">
      Etape 2 (iframe)
    </a>
  </nav>
</div>

  <h1 class="text-5xl text-center mb-8">Penguins Adelie</h1>

  <div class="flex gap-2 overflow-x-auto scroll-smooth">
    <div class="min-w-full" id="Adelie">
      <h3 class="text-3xl"></h3>
      <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsAdelie, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
    </div>
   
</Layout>
